<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="Cooking Recipe"></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"> -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}">
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/signup.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/header.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/footer.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/recipeDetail.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/body.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/recipeForm.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/home.css}">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div th:insert="~{layout/header :: header}"></div>
		</nav>
		<div layout:fragment="body"></div>
		<footer>
			<div th:insert="~{layout/footer :: footer}"></div>
		</footer>
	</body>
</html>
