<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/layout/base-layout">
<link href="css/index.css" rel="stylesheet" type="text/css"/>

<div layout:fragment="body">
	<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div>
<div class="topnav">

  <a href="#">Ăn sáng</a>
  <a href="#">Ăn trưa</a>
  <a href="#">Ăn tối</a>
  <a href="#">Ăn kiêng</a>
  <a href="#">Đồ uống</a>
  <a href="#">Đồ ăn vặt</a>
  <a href="#">Đồ ăn nhanh</a>
  <a href="#" style="float:right">Đăng nhập</a>
  <a href="#" style="float:right">Đăng ký</a>

</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Gà đồi sốt muốn ăn</h2>
      <h5>27/08/2020</h5>
      <img src=“https://www.tuannguyentravel.com/data/images/images2/quy-nhon/cac-mon-an-ngon-o-quy-nhon.jpg” alt=“error Icon” style=“width:128px;height:128px;”>     
    </div>
    <div class="card">
      <h2>Bánh mochi nhân phô mai chiên</h2>
      <h5>26/08/2020</h5>
      <div class="fakeimg" style="height:200px;">Ảnh minh hoạ</div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Giới thiệu</h2>
      <div class="fakeimg" style="height:100px;">Ảnh</div>
      <p>Cooking Recipe là một trang web hữu ích giúp bạn tìm kiếm và học hỏi được những công thức nấu ăn ngon </p>
    </div>
    <div class="card">
      <h3>Nổi bật</h3>
      <div class="fakeimg"><p>Ảnh</p></div>
      <div class="fakeimg"><p>Ảnh</p></div>
      <div class="fakeimg"><p>Ảnh</p></div>
    </div>
    <div class="card">
      <h3>Follow Us</h3>
<button class="button">Facebook</button>

    </div>
  </div>
</div>

</div>
</html>