<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
	<title>Cooking Recipe</title>
	<th:block th:insert="~{layout/base-layout :: link}"></th:block>
	<th:block th:insert="~{layout/base-layout :: head/script}"></th:block>
</head>
<body>
	<div th:insert="~{layout/header :: header}"></div>
   <body>
<nav>
    <ul>
     <li class="search">
            <a th:href="@{/recipeDetail}" class="btn btn-primary" th:text="#{home.search}">Search</a>
            <div class="search-bar">
                <form>
                    <input type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.breakfast}">Breakfast</a></li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.lunch}">Lunch</a></li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.dinner}">Dinner</a></li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.fastfood}">Fast Food</a></li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.diet}">Diet</a></li>
        <li><a th:href="@{/recipeDetail}" th:text="#{home.drink}">Drink</a></li>
       
    </ul>
</nav>
  		<p class="space"></p>

</body>
<div class="row">
  <div class="leftcolumn">
      <div class="card">
  <div class="container">
	  <div class="recipe-title">
		<img class="recipe-image" alt="food image" th:src="@{/resources/image/image_6.jpg}">
  		<img class="opacity" th:src="@{/resources/image/black.png}">
  		<div class="overview">
  			<!-- <h1 th:text="${name}">Name's food:</h1> -->
  			<p>
  			  	<span th:text="#{recipe.name}">Name's food: </span>
  			  	<span th:text="${name}">Name's food</span>
  			  	<br></br>
  				<span th:text="#{recipe.time}">Time: </span>
  				<span th:text="${time}"></span>30(ph)
  			</p>
  			<p>
  				<span th:text="${like}">0</span>30
	  			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  				<path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
				</svg>
			</p>
  			<small>
  				<em th:text="#{recipe.createdAt}">Created At: </em>
  				<em th:text="${createdAt}"></em>2020/08/31
  			</small>
  		</div>  
	  </div>
	   <a th:href="@{/recipeDetail}" class="btn btn-primary" th:text="#{home.viewdetail}">View Detail</a>
	  
  		<div class="recipe-content">
  		
 			<!-- Comment -->
  			<h2 th:text="#{recipe.comment}"></h2>
  			<th:block th:each="comment,state:${comments}">
  				<li class="comment-card">
  					<span class="user-comment" th:text="${comment.user}"></span>
  					<span th:text="${comment.content}"></span><br>
  				</li>
  			</th:block>
  		</div>
  		<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping"></span>
  </div>
  <input type="text" class="form-control" placeholder="Comment..." aria-label="Username" aria-describedby="addon-wrapping">
</div>
  		<p class="space"></p>
  	</div>
  	  	</div>
  	
  	<div class="container">
	  <div class="recipe-title">
		<img class="recipe-image" alt="food image" th:src="@{/resources/image/image_6.jpg}">
  		<img class="opacity" th:src="@{/resources/image/black.png}">
  		<div class="overview">
  			<!-- <h1 th:text="${name}">Name's food:</h1> -->
  			<p>
  			  	<span th:text="#{recipe.name}">Name's food: </span>
  			  	<span th:text="${name}">Name's food</span>
  			  	<br></br>
  				<span th:text="#{recipe.time}">Time: </span>
  				<span th:text="${time}"></span>30(ph)
  			</p>
  			<p>
  				<span th:text="${like}">0</span>30
	  			<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  				<path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
				</svg>
			</p>
  			<small>
  				<em th:text="#{recipe.createdAt}">Created At: </em>
  				<em th:text="${createdAt}"></em>2020/08/31
  			</small>
  		</div>  
	  </div>
	   <a th:href="@{/recipeDetail}" class="btn btn-primary" th:text="#{home.viewdetail}">View Detail</a>
	  
  		<div class="recipe-content">
  		
 			<!-- Comment -->
  			<h2 th:text="#{recipe.comment}"></h2>
  			<th:block th:each="comment,state:${comments}">
  				<li class="comment-card">
  					<span class="user-comment" th:text="${comment.user}"></span>
  					<span th:text="${comment.content}"></span><br>
  				</li>
  			</th:block>
  		</div>
  		<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping"></span>
  </div>
  <input type="text" class="form-control" placeholder="Comment..." aria-label="Username" aria-describedby="addon-wrapping">
</div>
  		<p class="space"></p>
  	</div>
  	  </div>
  	  <div class="rightcolumn">
    <div class="card">
      <h2 th:text="#{home.about}">About us</h2>
      <div class="fakeimg" style="height:100px;" th:text="#{home.image}">Image</div>
      <p th:text="#{home.aboutus}">Cooking Recipe is a useful website to help you find and learn delicious recipes </p>
    </div>
    <div class="card">
      <h3>####</h3>
      <div class="fakeimg"><p>###</p></div>
      <div class="fakeimg"><p>###</p></div>
      <div class="fakeimg"><p>###</p></div>
    </div>
    <div class="card">
      <h3>#####</h3>
<button class="button">######</button>

    </div>
  </div>
  </div>	
  <div th:insert="~{layout/footer :: footer}"></div>
</body>
</html>
