<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="#{create.recipe.title}"></title>
	<th:block th:insert="~{layout/base-layout :: link}"></th:block>
	<th:block th:insert="~{layout/base-layout :: head/script}"></th:block>
</head>
<body>
<div th:insert="~{layout/header :: header}"></div>
  <div class="container">
  
  	<form class="form create-recipe"  method="post" th:action="@{/recipes}" th:object="${recipe}">
  		<p th:text="#{create.recipe.title}"></p>
  		<!-- Name -->
  	  <div class="form-group">
	    <label for="name" th:text="#{create.recipe.name}"></label>
	    <input type="text" class="form-control" name="name" th:field="*{name}">
	  </div>
	  <!-- Time -->
	  <div class="form-group">
	    <label for="time" th:text="#{create.recipe.time}"></label>
	    <input type="text" class="form-control" name="time" th:field="*{time}">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  
	  <!-- Categories -->
	  <label for="category" th:text="#{create.recipe.category}"></label>
	  <div th:each="cat,state:${categories}">
	  	<div class="custom-control custom-checkbox">
		  <input type="checkbox" class="custom-control-input" th:field="*{categories}" th:value="${cat}" id="${state}">
		  <label class="custom-control-label" th:text="${cat}" for="${state}"></label>
	  	</div>
	  </div>
	  
	  <!-- Ingredients -->
	  <div class="form-group">
	    <label for="ingredient" th:text="#{create.recipe.ingredient}">Ingredient</label>
	    <input type="text" class="form-control" id="ingredient" name="ingredient" th:field="*{ingredients}">
	  </div>
	  <label th:text="#{create.recipe.howtomake}">How to make</label>
	  
	  <button><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-plus-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
	  </svg></button>
	  
	  <div class="form-group">
	  	<div class="step-card">
	  		<label for="step" th:text="#{create.recipe.step}">Step 1</label>
	    	<input type="text" class="form-control" th:field="*{steps}" placeholder="Input how to make">
	  	</div>
	    <div class="step-card">
	    	<label for="step" th:text="#{create.recipe.step}">Step 2</label>
	    	<input type="text" class="form-control" th:field="*{steps}" placeholder="Input how to make">
	    </div>
	  </div>
	 <div class="form-group">
	    <label for="image" th:text="#{create.recipe.image}">Image</label>
	    <div class="custom-file">
		  <input type="file" class="custom-file-input" id="customFile">
		  <label class="custom-file-label" for="customFile" th:text="#{create.recipe.chooseimage}"></label>
		</div>
	  </div>
	  <button type="submit" class="btn btn-submit" th:text="#{create.recipe.submit}">Submit</button>
	</form>
	
  </div>
  <p class="space"></p>
  <div th:insert="~{layout/footer :: footer}"></div>
  </body>
</html>
