body {  
   background: #F1F3FA;
   }

   .profile {  margin: 20px 0;}

   .home-profile-sidebar {  
   padding: 30px 20px 50px 0;  
   background: #fff;
   }
   .home-profile-usertitle {  
 text-align: center;  
 margin-top: 0px;
 }
   .profile-content {  
   padding: 20px;  
   background: #fff;  
   min-height: 460px;
   }
   /* Cột trái */
   .home-leftcolumn { 
     float: left;
     width: 70%;
   }

   /* Cột phải */
   .home-rightcolumn {
     float: left;
     width: 30%;
   /*   background-color: #e9d8f4;
    */  padding-left: 10px;
   }

   .home-recipe-title{
     position: relative;
     height:300px;
     margin: 0 5%; 
   }
   .home-recipe-image{
     height: 300px;
     width: 500px;
     position: absolute;
     top:0;
     left:0;
     z-index:0;
   } 
   .home-opacity{
     position: absolute;
     height: 300px;
     width: 500px;
     top: 0;
     left: 0;
     opacity: 0.3;
     z-index: 1;
   }
   .home-overview{
     position: absolute;
     box-sizing: border-box;
     height: 300px;
     width: 800px;
     top: 0;
     left: 0;
     z-index: 2;
     padding: 50px 200px;
     color: #FFF;
   }

   .home-overview h1{
     font-weight: 500;
     font-size: 70px;
     letter-spacing: 2px;
   }

   .home-recipe-content{
     margin: 20px 5%;
   }

   .home-recipe-content p{
     margin: 20px;
   }

   .home-recipe-content h2{
     color: #FE2E2E;
     letter-spacing: 2px;
     font-weight: 600;
     margin: 30px 0;
   }

   .home-step-card{
     background-color: #fff;
     border-radius: 8px;
     border: 1px solid #D8D8D8;
     box-shadow: 1px 1px 10px #D8D8D8;
     padding: 10px;
     margin: 10px;
   }

   .home-step-card img{
     width: 60px;
     height: 60px;
   }

   .home-comment-card{
     background-color: #fff;
     border-radius: 8px;
     border: 1px solid #FE2E2E;
     color: #000;
   }

   .home-comment-card .user-comment{
     color: #FE2E2E;
   }

   .home-space{
     padding-bottom: 80px;
   }
   nav{
        background-color:#1abc9c;
    }
    nav ul{
        margin:0;
        padding:0;
        list-style-type:none;
    }
    nav li{
        display:inline-block;
    }
    nav li a{
        display:inline-block;
        text-decoration:none;
        color:white;
        padding:14px 16px;
    }
    .card {
      background-color: rgb(252, 253, 249);
      padding: 20px;
      margin-top: 20px;
    }
  .home-overview{
 	position: absolute;
 	box-sizing: border-box;
 	height: 800px;
 	width: 800px;
 	top: 0;
 	left: 20px;
 	z-index: 2;
 	padding: 50px 200px;
 		color: rgb(224, 33, 33);
  }
  