.form p{
	text-align: center;
	color: #FE2E2E;
	font-size: 2rem;
	font-weight: 600;
}

form{
	padding: 10px 20%;
	margin-top: 50px;
}
form label{
	color: #FE2E2E;
}
.btn-submit{
	background-color: #FE2E2E;
	font-weight: 600;
	padding: 10px 15px;
	color: #fff;
	border: 1px solid #FE2E2E;
	margin: 25px 0;
}

.btn-submit:hover{
	background-color: #fff;
	color: #FE2E2E;
}