.signup p{
	text-align: center;
	color: #FE2E2E;
	font-size: 2rem;
	font-weight: 600;
}

.signup{
	padding: 10px 20%;
	margin-top: 50px;
}
.signup label{
	color: #FE2E2E;
}
.signup button{
	background-color: #FE2E2E;
	font-weight: 600;
	padding: 10px 15px;
	color: #fff;
	border: 1px solid #FE2E2E;
}

.signup button:hover{
	background-color: #fff;
	color: #FE2E2E;
}